.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: whitesmoke;
    color: black;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.2s;
}

.button:hover {
    opacity: 0.9;
    background-color: rgba(128, 128, 128, 0.849);
    color: white;
}

.badge {
    background-color: rgba(0, 0, 0, 0.699);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    color: whitesmoke;
}

.button:hover .badge{
    background-color: black;
    color: white;
}
.button:focus {
    opacity: 1;
    background-color: rgba(160, 160, 160, 0.603);
    color: white;
}