.auth {
    margin: 3rem auto;
    margin-top: 10rem;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.979);
    padding: 1rem;
    text-align: center;
    color: white;
  }
  
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: #f1e1fc;
    color: whitesmoke;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: black;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: rgb(187, 185, 185);
    border-color: #641e03;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: rgb(187, 185, 185);
  }